div{
  text-align:centre;
  font-size: 30px;
  margin: 0px;
  background-image: url('https://upload.wikimedia.org/wikipedia/en/b/b7/Mnit_logo.png');
  background-repeat: no-repeat;
background-size: contain;
backface-visibility: visible;
background-color: blueviolet;
margin: auto;


}
body{
  background-color: bisque;
 
}
em{
  font-size:40px;
  padding: auto;
  float:righleft;
}

#form{
  float: inherit;
 border: 4px;
 border-color: black;
}
#myBtn{
 text-align: center;
 text-transform: uppercase;
    text-shadow: red;
}
tr,th,td{
  text-decoration: solid;
  text-transform: uppercase;
}
td:hover{
  background-color:blueviolet;
}
.percentage{
  font-weight:bold;
font-family: fantasy;
font: display 2px ;
}
.query{
  background-color: chartreuse;
  font-weight: bold;
  align-content: center;
  text-decoration-line: underline;
 margin: auto;
 margin-bottom: 30px;
 display: flex;
}
#information{
  font-weight: 900;
  font-size: 20px;
  width: auto;
  text-align: center;
  align-content: center;
  
}
